body{
	background-image: url("../img/chinese.gif");
}

.container{
	text-align: center;
}
input{
	width: 50%;
}
button{
	margin-top: 20px;
}
.heading{
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	font-size: 70px;
	animation-name: example;
}
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
    }

@keyframes example{

	0%{color: red;}
	25%{color: yellow;}
	50%{color: blue;}
	75%{color: orange;}
	100%{color: pink;}
}